## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
print(pow(7, 4))

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
txt = "Hi there Sam!"

x = txt.split()

print(x)

['Hi', 'there', 'Sam!']

In [ ]:
txt = "Hi there dad!"

x = txt.split()

print(x)

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742
txt1="The diameter of {0} is {1} kilometers.".format(planet,diameter)
print(txt1)

The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742
txt1="The diameter of {0} is {1} kilometers.".format(planet,diameter)
print(txt1)

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
# code to test that tuples are immutable
tuple1 = (0, 1, 2, 3)
tuple1[0] = 4
print(tuple1)
#Since we cannot change value of existing value in the particular index....



# code to test that tuples are mutable
List = [1, 2, 4, 4, 3, 3, 3, 6, 5]
print(List)
List[3] = 77
print(List)

TypeError: ignored

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def domainGet(email):
    return email.split('@')[-1]

In [ ]:
domainGet('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def finder(st):
    return 'dog' in st.lower().split()

In [ ]:
finder('my dog is black in colour')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
def counter(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count

In [ ]:
counter('The lazy dog does not the another dog')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(81,False)

'Small Ticket'

In [ ]:
caught_speeding(81,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
dict={}
dict['emp1']=['abc','abc',80000,40000,120000]
dict['emp2']=['def','def',80000,30000,110000]
dict['emp3']=['ghi','ghi',80000,20000,100000]
dict['emp4']=['jkl','jkl',80000,10000,90000]
dict['emp5']=['mno','mno',80000,50000,130000]
sum=0
for key in dict:
  print(key,'--',dict[key][4])
  sum=sum+dict[key][4]
print(sum)

emp1 -- 120000
emp2 -- 110000
emp3 -- 100000
emp4 -- 90000
emp5 -- 130000
550000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:
def Merge(dict1, dict2):
	return(dict2.update(dict1))

dict1 = {'Empid':1, 'Empname': 22 , 'Basicpay': 800000}
dict2 = {'DeptName': 33, 'DeptId': 5}
(Merge(dict1, dict2))
print(dict2)

{'DeptName': 33, 'DeptId': 5, 'Empid': 1, 'Empname': 22, 'Basicpay': 800000}